/* CSS is globally available in a React app, so only needs to be imported once.
Could use CSS Modules in future for larger products to add clarity.
For this project, making notes on each classname here for where it's used.*/

.nav-bar {
  /* Used in NavBar.jsx */
  background-color: white;
}

.nav-bar h2 {
    /* Used in NavBar.jsx */
  padding: 1em;
}


.background {
  /* Used in App.js return section */
  background-color: rgb(188, 219, 230);
  height: 100vh;
}

.post-form {
  /* Used in CreatePostForm.jsx onSubmit form */
  background-color: white;
  width: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em auto; /* "auto" Centers the block in the page */
  padding: 20px;
}

.submit-button {
  /* Used for CreatePostForm "Create" button */
  background-color: rgb(61, 87, 175);
  color: white;
  border: none;
  border-radius: 25px; /* Rounds button corners */
  padding: 5px 30px; /* Top/bottom padding first, then left/right padding */
  font-size: 14px;
  cursor: pointer;
  justify-self: right;
  width: 50%;
}

.button-container {
  /* Used in CreatePostForm to center the "Create" button */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.submit-button:hover {
  /* Used in CreatePostForm to change the submit button on hover */
  background-color: lightblue;
  color: black;
  cursor: pointer;
}

.input-box {
  /* Used for CreatePostForm "Name/Post" sections */
  width: 100%;
}

.post {
  /* Used in Post.jsx
    Surrounds post-content to exclude <hr /> */
  width: 100%;
}

.post-content {
  /* Used in Post.jsx
     Styles the post and (dis)like button rows */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-actions {
  /* Used in Post.jsx to make a gap between (dis)like buttons */
  display: flex;
  gap: 0.5em;
}